// Calculates a = x*y
// a is a local variable
// x & y are static variables

//initialise result
push constant 0
pop local 0

//initialise counter
push constant 0 //0 on top of stack
pop temp 0 //t0 = 0 which is counter

//signs of x
push static 1
push constant 0
lt //x < 0, if true X_NEG
if-goto X_NEG
push constant 0
pop temp 2 //temp 2 shows sign for x, 0 is pos, 1 is neg
goto CONT_X_POS

label X_NEG
push constant 1
pop temp 2 //sign x is 1, neg
label CONT_X_POS

//signs of y
push static 2
push constant 0
lt //x < 0, if true Y_NEG
if-goto Y_NEG
push constant 0
pop temp 3 //temp 3 shows sign for y, 0 is pos, 1 is neg
goto CONT_Y_POS

label Y_NEG
push constant 1
pop temp 3 //sign y is 1, neg
label CONT_Y_POS

//ab value for x
push static 1
push constant 0
lt
if-goto MAKE_X_POS
goto CONT_X_POS
label MAKE_X_POS
push static 1
neg
pop static 1
label CONT_X

//ab value for y
push static 2
push constant 0
lt
if-goto MAKE_Y_POS
goto CONT_Y_POS
label MAKE_Y_POS
push static 2
neg
pop static 2
label CONT_Y

//loop
label LOOP_START
push temp 0 //counter
push static 1 //x
lt //if counter < x, go to loop body and add y to a
if-goto LOOP_BODY
goto LOOP_END

label LOOP_BODY
push local 0
push static 2
add
pop local 0 //update a to resulting value

//increment counter temp0
push temp 0
push constant 1
add
pop temp 0
goto LOOP_START

//finish loop, adjust result sign
label LOOP_END
push temp 2 //sign y
push temp 3 //sign y
add
push constant 1
eq //if sign x and sign y are 1, a is negative. else it is positive
if-goto NEG_A
goto END

label NEG_A
push local 0
neg
pop local 0

label END