// Calculates y = |x|
// x & y are static variables

push static 0
push constant 0
gt
if-goto POSITIVE

push static 0
neg
pop static 1
goto END

label POSITIVE
push static 0
pop static 1

label END
goto END